@charset "UTF-8";
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype"), url("../fonts/Rubik-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype"), url("../fonts/Rubik-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype"), url("../fonts/Rubik-Medium.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #2A2A2A;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1.43rem;
  background-color: #F0F0F0;
}

.body_with-1-row {
  grid-template-rows: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.hr {
  border: none;
  border-top: 1px solid #EBEBEB;
}
.hr_mb-20 {
  margin-bottom: 1.43rem;
}

.container {
  min-width: 320px;
  max-width: 1699px;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 991px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.container_10-2 {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-template-rows: auto 1fr;
  grid-gap: 1.43rem;
  align-items: center;
}
.container_with-side-menu {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1.43rem;
}
.container_with-side-menu .test-header {
  grid-row: 1/2;
  grid-column: 2/3;
}
.container_with-side-menu .side-menu {
  grid-row: 1/-1;
  grid-column: 1/2;
}
.container_with-side-menu .test-main {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media (max-width: 767px) {
  .container_with-side-menu .test-header,
.container_with-side-menu .test-main {
    grid-column: 1/-1;
  }
}

.img-fluid {
  max-width: 100%;
}

.test-header {
  background-color: #fff;
}
.test-header_rounded {
  border-bottom-left-radius: 0.86rem;
  border-bottom-right-radius: 0.86rem;
}
.test-header__container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: auto auto;
  -moz-column-gap: 1.43rem;
       column-gap: 1.43rem;
  row-gap: 2.07rem;
}
@media (max-width: 1199px) {
  .test-header__container {
    grid-template-columns: 11fr 1fr;
    gap: 1.43rem;
  }
}
@media (max-width: 767px) {
  .test-header__container {
    gap: 1rem;
  }
}
.test-header__container_6-4 {
  display: grid;
  grid-template-columns: 6fr 4fr;
  -moz-column-gap: 1.43rem;
       column-gap: 1.43rem;
}
.test-header__heading {
  color: #3BCBB2;
  font-weight: 500;
  font-size: 2.43rem;
  line-height: 1.19;
  padding-bottom: 2.29rem;
}
@media (max-width: 991px) {
  .test-header__heading {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 767px) {
  .test-header__heading {
    grid-column: 1/3;
  }
}
@media (max-width: 575px) {
  .test-header__heading {
    font-size: 1.5rem;
  }
}
.test-header__sub-heading {
  color: #2A2A2A;
}
.test-header__timer {
  grid-row: 1/3;
  grid-column: 2/3;
}
@media (max-width: 767px) {
  .test-header__timer {
    grid-row: 1/2;
  }
}
.test-header_with_finish-btn .test-header__container {
  grid-template-columns: 7fr 3fr 2fr;
}
@media (max-width: 1199px) {
  .test-header_with_finish-btn .test-header__container {
    grid-template-columns: 7fr 3fr 2fr;
  }
}
@media (max-width: 991px) {
  .test-header_with_finish-btn .test-header__container {
    grid-template-columns: 5fr 5fr 2fr;
  }
}
@media (max-width: 767px) {
  .test-header_with_finish-btn .test-header__container {
    grid-template-columns: 3fr 6fr 3fr;
  }
}
.test-header_with_finish-btn .test-header__column-with-logout-and-finish-btns {
  grid-column: 3/4;
  grid-row: 1/3;
  display: grid;
  row-gap: 1.14rem;
  padding-top: 2.89rem;
  padding-bottom: 1.36rem;
}
@media (max-width: 1199px) {
  .test-header_with_finish-btn .test-header__column-with-logout-and-finish-btns {
    grid-row: 1/2;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .test-header_with_finish-btn .test-header__column-with-logout-and-finish-btns {
    padding-top: 0.5rem;
    row-gap: 0.7rem;
  }
}
@media (max-width: 1199px) {
  .test-header_with_finish-btn .test-header__heading {
    grid-column: 1/4;
  }
}
.test-header_with_finish-btn .test-header__log-out-btn {
  justify-self: end;
}
.test-header_with_finish-btn .test-header__log-out-btn .user-menu__log-out-btn {
  margin-left: 0;
}
.test-header_with_finish-btn .test-header__finish-btn {
  justify-self: end;
}
@media (max-width: 1199px) {
  .test-header_with_finish-btn .test-header__finish-btn .button {
    padding: 0.65rem 1.57rem;
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .test-header_with_finish-btn .test-header__finish-btn .button {
    padding: 0.65rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {
  .test-header_with_finish-btn .user-menu__name {
    grid-column-gap: 0;
  }
}
.test-header_minimalistic {
  padding-left: 2rem;
}
@media (max-width: 1199px) {
  .test-header_minimalistic {
    padding-left: 1.43rem;
  }
}
.test-header_minimalistic .test-header__container {
  grid-template-rows: auto;
}
@media (max-width: 767px) {
  .test-header_minimalistic .test-header__container {
    grid-template-columns: auto 1fr auto;
  }
}
.test-header_minimalistic .test-header__burger {
  display: none;
  align-self: center;
}
@media (max-width: 767px) {
  .test-header_minimalistic .test-header__burger {
    grid-column: 1/2;
    display: block;
  }
}
.test-header_minimalistic .test-header__heading {
  padding-bottom: 0;
  align-self: center;
}
@media (max-width: 991px) {
  .test-header_minimalistic .test-header__heading {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .test-header_minimalistic .test-header__heading {
    grid-column: 2/3;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .test-header_minimalistic .test-header__heading {
    grid-row: 2/3;
    grid-column: 1/-1;
    padding-bottom: 1rem;
    text-align: left;
  }
}
.test-header_minimalistic .test-header__timer {
  grid-row: 1/2;
}
@media (max-width: 767px) {
  .test-header_minimalistic .test-header__timer {
    grid-column: 3/4;
  }
}

.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.43rem;
}
@media (max-width: 991px) {
  .user-menu {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .user-menu {
    padding-top: 0;
  }
}
.user-menu__avatar {
  width: 4.21rem;
  height: 4.21rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #3BCBB2;
  border-radius: 50%;
  background-color: rgba(59, 203, 178, 0.15);
  color: #3BCBB2;
  font-weight: 500;
  font-size: 1.14rem;
  text-align: center;
  line-height: calc(4.21rem - 2px);
  margin-right: 0.93rem;
  flex-shrink: 0;
}
@media (max-width: 575px) {
  .user-menu__avatar {
    width: 3.5rem;
    height: 3.5rem;
    line-height: calc(3.5rem - 2px);
  }
}
.user-menu__name {
  font-weight: 500;
  font-size: 1.43rem;
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2.93rem;
  align-items: center;
  line-height: 1;
}
@media (max-width: 767px) {
  .user-menu__name {
    font-size: 1.2rem;
  }
}
@media (max-width: 575px) {
  .user-menu__name {
    display: none;
  }
}
.user-menu__name::after {
  content: "";
  display: block;
  background-color: #EBEBEB;
  height: 1px;
}
@media (max-width: 991px) {
  .user-menu__name::after {
    display: none;
  }
}
.user-menu__log-out-btn {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.36rem;
  align-items: center;
  border: none;
  color: #C2C2C2;
  font-size: 1.14rem;
  line-height: 1.43rem;
  background-color: transparent;
  margin-left: 3.71rem;
}
@media (max-width: 767px) {
  .user-menu__log-out-btn {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .user-menu__log-out-btn-text {
    display: none;
  }
}
.user-menu__log-out-btn-icon {
  width: 1.43rem;
}
@media (max-width: 767px) {
  .user-menu__log-out-btn-icon {
    width: 2rem;
  }
}

.timer {
  border-top-width: 0.29rem;
  border-top-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 2.93rem;
  font-weight: 500;
  font-size: 1.43rem;
  position: relative;
}
@media (max-width: 1199px) {
  .timer {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .timer {
    padding: 1rem 1.8rem;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .timer {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}
.timer__content-wrapper {
  display: flex;
  flex-direction: column;
}
.timer__time {
  font-weight: 500;
  font-size: 5.71rem;
  position: relative;
  left: -4px;
}
@media (max-width: 1199px) {
  .timer__time {
    font-size: 5rem;
  }
}
@media (max-width: 991px) {
  .timer__time {
    font-size: 4rem;
  }
}
@media (max-width: 767px) {
  .timer__time {
    font-size: 3rem;
  }
}
@media (max-width: 575px) {
  .timer__time {
    font-size: 2rem;
  }
}
.timer_green {
  border-top-color: #3BCBB2;
  background-image: linear-gradient(rgba(59, 203, 178, 0.15), transparent);
}
.timer_green .timer__colored-text {
  color: #3BCBB2;
}
.timer_yellow {
  border-top-color: #FFCC47;
  background-image: linear-gradient(rgba(255, 204, 71, 0.15), transparent);
}
.timer_yellow .timer__colored-text {
  color: #FFCC47;
}
.timer_red {
  border-top-color: #FF5D47;
  background-image: linear-gradient(rgba(255, 93, 71, 0.15), transparent);
}
.timer_red .timer__colored-text {
  color: #FF5D47;
}
.timer_with_progress-bar {
  border-top: none;
}
@media (max-width: 767px) {
  .timer_with_progress-bar {
    padding-top: 1.8rem;
  }
}
.timer__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.test-main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.test-main__container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 1.43rem;
}
.test-main__container_4-8 {
  grid-template-columns: 4fr 8fr;
}
.test-main__container_5-7 {
  grid-template-columns: 5fr 7fr;
}
.test-main__container_6-6 {
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 991px) {
  .test-main__container_6-6 .description-card {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
@media (max-width: 991px) {
  .test-main__container_6-6 .question-card {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media (max-width: 991px) {
  .test-main__container_6-6 .answers-card {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.test-main__container_7-5 {
  grid-template-columns: 7fr 5fr;
}
.test-main__container_5-4-3 {
  grid-template-columns: 5fr 4fr 3fr;
}
@media (max-width: 991px) {
  .test-main__container_5-4-3 {
    grid-template-columns: 6fr 6fr;
    grid-template-rows: auto 1fr auto;
  }
}
@media (max-width: 767px) {
  .test-main__container_5-4-3 {
    grid-template-rows: repeat(4, auto);
  }
}
@media (max-width: 991px) {
  .test-main__container_5-4-3 .tip-card {
    grid-row: -2/-1;
    grid-column: 1/-1;
  }
}
.test-main__container_1-11 {
  grid-template-columns: 1fr 11fr;
}
@media (max-width: 575px) {
  .test-main__container_1-11 {
    grid-template-columns: 2fr 10fr;
  }
}
@media (max-width: 1199px) {
  .test-main__container_1-11 .test-main__container_5-2-2-2 {
    grid-template-columns: 5fr 3fr 3fr;
    grid-template-rows: auto 1fr auto auto;
  }
  .test-main__container_1-11 .test-main__container_5-2-2-2 .tip-card {
    grid-column: 1/-1;
    grid-row: -2/-1;
  }
}
@media (max-width: 991px) {
  .test-main__container_1-11 .test-main__container_5-2-2-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
  }
  .test-main__container_1-11 .test-main__container_5-2-2-2 .description-card {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .test-main__container_1-11 .test-main__container_5-2-2-2 .question-card {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .test-main__container_1-11 .test-main__container_5-2-2-2 .answers-card {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .test-main__container_1-11 .test-main__container_5-2-2-2 .test-main__prev-btn {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .test-main__container_1-11 .test-main__container_5-2-2-2 .test-main__next-btn {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .test-main__container_1-11 .test-main__container_5-2-2-2 .tip-card {
    grid-column: 1/3;
    grid-row: 5/6;
  }
}
.test-main__container_5-2-2-2 {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1.43rem;
}
.test-main__container_5-2-2-2 .description-card {
  grid-row: 1/4;
  grid-column: 1/2;
}
.test-main__container_5-2-2-2 .question-card {
  grid-column: 2/4;
  grid-row: 1/2;
}
.test-main__container_5-2-2-2 .answers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}
.test-main__container_5-2-2-2 .test-main__prev-btn {
  grid-column: 2/3;
  grid-row: 3/4;
}
.test-main__container_5-2-2-2 .test-main__next-btn {
  grid-column: 3/4;
  grid-row: 3/4;
}
.test-main__container_5-2-2-2 .tip-card {
  grid-column: 4/5;
  grid-row: 1/-1;
}
.test-main__container_1-row {
  grid-template-rows: auto;
}
.test-main__container_1-row .description-card {
  grid-row: 1/2;
}
.test-main__container_1-row .answers-card {
  grid-row: 1/2;
}
@media (max-width: 1199px) {
  .test-main_next-to-side-menu .test-main__container_6-6 .description-card,
.test-main_next-to-side-menu .test-main__container_6-6 .question-card,
.test-main_next-to-side-menu .test-main__container_6-6 .answers-card {
    grid-column: 1/-1;
    grid-row: auto;
  }
}

.card {
  background-color: #fff;
  border-radius: 0.86rem;
  padding: 1.43rem;
}

.description-card {
  grid-row: 1/3;
  grid-column: 1/2;
}
@media (max-width: 767px) {
  .description-card {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.description-card__text {
  margin-bottom: 2.14rem;
}
.description-card__tip {
  display: flex;
}
.description-card__tip-icon {
  width: 1.43rem;
  height: 1.43rem;
  border: 1px solid #3BCBB2;
  border-radius: 50%;
  color: #3BCBB2;
  text-align: center;
  line-height: 1.43rem;
  background-color: rgba(59, 203, 178, 0.15);
  margin-right: 0.43rem;
  flex-shrink: 0;
  /* Решили, что подсказка должна быть видна всегда. 
   * Если решим вернуть прежнее поведение,
   * нужно будет раскомментировать строку ниже 
   */
}
.description-card__tip-text {
  border: 1px solid #3BCBB2;
  border-radius: 0.57rem;
  padding: 0.36rem;
  color: #3BCBB2;
  font-size: 0.86rem;
  background-image: linear-gradient(rgba(59, 203, 178, 0.15), transparent);
  position: relative;
  /* Решили, что подсказка должна быть видна всегда. 
   * Если решим вернуть прежнее поведение,
   * достаточно просто раскомментировать строку ниже 
   */
  transition: all 0.2s ease-in-out;
}
.description-card__tip-text::before {
  display: block;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: -2.5px;
  top: -1px;
  background-color: #dff3ef;
  border-top: 1px solid #3BCBB2;
  border-left: 1px solid #3BCBB2;
  border-top-left-radius: 2px;
  transform: skewX(15deg);
}
.description-card__tip-icon:hover + .description-card__tip-text {
  opacity: 1;
}
.description-card p {
  margin-bottom: 1.43rem;
}
.description-card__container_2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.43rem;
}
@media (min-width: 992px) and (max-width: 1440px) {
  .description-card__container_2-col {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575px) {
  .description-card__container_2-col {
    grid-template-columns: 1fr;
  }
}

.question-card {
  padding-right: 2.72rem;
  grid-row: 1/2;
  grid-column: 2/3;
  font-weight: 500;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: top 1.14rem right 1.29rem;
  background-size: 1.29rem;
}
@media (max-width: 767px) {
  .question-card {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.question-card__question-word {
  color: #3BCBB2;
}

.answers-card {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media (max-width: 767px) {
  .answers-card {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.answers-card__checkbox-card {
  display: block;
  height: 100%;
  border: 1px solid #EBEBEB;
  border-radius: 0.57rem;
  padding: 0.71rem;
  cursor: pointer;
}
.answers-card__checkbox-card-input {
  display: none;
}
.answers-card__checkbox-card-input:checked + label {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.answers-card__checkbox-card-input:not(:checked) + label {
  color: #C2C2C2;
}
.answers-card__checkbox-card-input:hover + label {
  color: #2A2A2A;
}
.answers-card__checkbox-card-input_without-border:checked + label {
  border-color: #EBEBEB;
}
.answers-card__checkbox-card_without-border {
  border-color: transparent;
}
.answers-card__checkbox-img-input {
  display: none;
}
.answers-card__checkbox-img-input:checked + label {
  border-color: #EBEBEB;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.answers-card__checkbox-img-label {
  display: block;
  cursor: pointer;
  padding: 0.43rem;
  border: 1px solid transparent;
  border-radius: 0.57rem;
  transition: all 0.2s;
}
.answers-card__checkbox-img-label:hover {
  border-color: #EBEBEB;
}
.answers-card__checkbox-img-img {
  display: block;
}
.answers-card__radio-inline-wrapper {
  display: flex;
  -moz-column-gap: 2.86rem;
       column-gap: 2.86rem;
}
.answers-card_tile-1-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.43rem;
}
.answers-card_tile-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.43rem;
}
@media (max-width: 575px) {
  .answers-card_tile-2-col {
    grid-template-columns: 1fr;
  }
}
.answers-card_tile-4-col {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1.43rem;
}
@media (max-width: 575px) {
  .answers-card_tile-4-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .answers-card_tile-4-col {
    grid-template-columns: 1fr;
  }
}
.answers-card_1-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.43rem;
  align-content: start;
}
.answers-card_2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.43rem;
}
@media (max-width: 575px) {
  .answers-card_2-col {
    grid-template-columns: 1fr;
  }
}

.tip-card {
  background-color: #fff;
  grid-row: 1/-1;
  border-top: 4px solid #3BCBB2;
  border-bottom: 4px solid #3BCBB2;
  padding: 1.43rem;
  display: grid;
  grid-grid-template-columns: 1fr;
  grid-gap: 1.43rem;
  align-content: start;
}
.tip-card::before {
  content: "!";
  display: block;
  width: 1.43rem;
  height: 1.43rem;
  border: 1px solid #3BCBB2;
  border-radius: 50%;
  color: #3BCBB2;
  text-align: center;
  line-height: 1.43rem;
  background-color: rgba(59, 203, 178, 0.15);
}
.tip-card__heading {
  color: #3BCBB2;
  text-transform: uppercase;
  font-size: 0.86rem;
  font-weight: 500;
}

.test-footer__container_auto-1fr-auto-auto {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 1.43rem;
}
@media (max-width: 575px) {
  .test-footer__button {
    padding: 1rem 2.5rem;
  }
}
.test-footer__button-wrapper {
  justify-self: end;
}
.test-footer_with_tabs {
  padding-bottom: 2.5rem;
}
.test-footer_with_tabs .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  -moz-column-gap: 2.7rem;
       column-gap: 2.7rem;
}
@media (max-width: 767px) {
  .test-footer_with_tabs .button {
    padding: 1.29rem;
  }
}
.test-footer_with_tabs .button__icon {
  display: none;
}
@media (max-width: 767px) {
  .test-footer_with_tabs .button__icon {
    display: block;
  }
}
@media (max-width: 767px) {
  .test-footer_with_tabs .button__text {
    display: none;
  }
}
.test-footer_next-to-side-menu {
  align-items: center;
  padding-bottom: 1.43rem;
}
@media (max-width: 767px) {
  .test-footer_next-to-side-menu {
    grid-column: 1/-1;
  }
}
@media (max-width: 575px) {
  .test-footer_next-to-side-menu .test-footer__container {
    grid-template-columns: auto auto auto;
  }
}
.test-footer_next-to-side-menu .test-footer__progress {
  align-self: start;
}
@media (max-width: 575px) {
  .test-footer_next-to-side-menu .test-footer__progress {
    grid-column: 1/-1;
  }
}
@media (max-width: 1199px) {
  .test-footer_next-to-side-menu .test-footer__button {
    padding-left: 1.79rem;
    padding-right: 1.79rem;
  }
}
@media (max-width: 991px) {
  .test-footer_next-to-side-menu .test-footer__button {
    padding: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .test-footer_next-to-side-menu .test-footer__button {
    grid-row: 2/3;
  }
}

.progress__progress {
  width: 100%;
  height: 0.29rem;
  background-color: #C2C2C2;
  margin-bottom: 1.29rem;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.progress__progress::-webkit-progress-bar {
  background-color: #C2C2C2;
}
.progress__progress::-webkit-progress-value {
  background-color: #3BCBB2;
}
.progress__progress::-moz-progress-bar {
  background-color: #3BCBB2;
}
.progress__progress_black-track::-webkit-progress-bar {
  background-color: #2A2A2A;
}
.progress__progress_with_arrow {
  --left-indent: 50%;
  position: relative;
}
.progress__progress_with_arrow::after {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  left: var(--left-indent);
  transform: translateX(-50%);
  border-bottom: 12px solid #3BCBB2;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: none;
}
.progress__sign {
  font-weight: 500;
  font-size: 1.43rem;
  color: #3BCBB2;
}
.progress__sign-span {
  color: #C2C2C2;
}
.progress_red .progress__progress::-webkit-progress-value {
  background-color: #FF5D47;
}
.progress_red .progress__progress::-moz-progress-bar {
  background-color: #FF5D47;
}
.progress_red .progress__progress_with_arrow::after {
  border-bottom-color: #FF5D47;
}
.progress_red .progress__sign {
  color: #FF5D47;
}
.progress_yellow .progress__progress::-webkit-progress-value {
  background-color: #FFCC47;
}
.progress_yellow .progress__progress::-moz-progress-bar {
  background-color: #FFCC47;
}
.progress_yellow .progress__progress_with_arrow::after {
  border-bottom-color: #FFCC47;
}
.progress_yellow .progress__sign {
  color: #FFCC47;
}
.progress_compact .progress__progress {
  margin-bottom: 0;
}
.progress_compact .progress__sign {
  font-weight: 400;
  font-size: 1rem;
  display: block;
  text-align: right;
}

.button {
  padding: 1.29rem 3.14rem;
  border: none;
  border-radius: 0.57rem;
  font-weight: 500;
  font-size: 1.43rem;
}
.button_green {
  background-color: #3BCBB2;
  color: #fff;
}
.button_black {
  background-color: #2A2A2A;
  color: #fff;
}
.button_white {
  background-color: #fff;
  color: gray;
}
.button_red {
  background-color: #FF5D47;
  color: #fff;
}
.button_in_modal {
  padding-left: 1.79rem;
  padding-right: 1.79rem;
}
@media (max-width: 575px) {
  .button_in_modal {
    font-size: 1rem;
    padding: 1rem;
  }
}
.button_block {
  display: block;
  width: 100%;
}

.table {
  overflow-x: auto;
}
.table table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background-color: #2A2A2A;
  color: #EBEBEB;
}
.table td, .table th {
  padding: 0.6rem 0.3rem;
  border: 1px solid #C2C2C2;
}

.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  background-color: transparent;
  color: #C2C2C2;
  border: 1px solid #EBEBEB;
  border-radius: 0.57rem;
  padding: 1.43rem;
  padding-right: 3.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
}
.dropdown__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 2.14rem;
  width: 1.07rem;
  height: 1.07rem;
  border: 2px solid #3BCBB2;
  border-right: none;
  border-top: none;
  transform-origin: center;
  transform: rotate(-45deg) translateY(-75%) translateX(50%);
  transition: all 0.2s;
}
.dropdown__button_set {
  color: #2A2A2A;
}
.dropdown__button_opened::after {
  border: 2px solid #3BCBB2;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg) translateY(-25%) translateX(-25%);
}
.dropdown__list {
  list-style-type: none;
  background-color: #fff;
  width: 100%;
  border: 1px solid #EBEBEB;
  border-radius: 0.54rem;
  padding: 0.7rem;
  position: relative;
  margin-top: 1.43rem;
  z-index: 1;
  display: none;
  transition: all 0.2s;
}
.dropdown__list::before, .dropdown__list::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2.9rem;
  transform: translateX(50%) translateY(-100%);
  display: block;
}
.dropdown__list::before {
  border-top: none;
  border-right: 0.8rem solid transparent;
  border-left: 0.8rem solid transparent;
  border-bottom: 1.43rem solid #EBEBEB;
  width: 1.6rem;
  height: 1.43rem;
}
.dropdown__list::after {
  border-top: none;
  border-right: 0.72rem solid transparent;
  border-left: 0.72rem solid transparent;
  border-bottom: 1.29rem solid #fff;
  width: 1.44rem;
  height: 1.29rem;
}
.dropdown__list_visible {
  display: block;
}
.dropdown__list_inline.dropdown__list_visible {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.57rem;
       column-gap: 0.57rem;
}
.dropdown__list_inline .dropdown__list-item:last-child {
  margin-bottom: 1.43rem;
}
.dropdown__list-item {
  padding: 0.46rem 0.79rem 0.38rem;
  margin-bottom: 1.43rem;
  border: 1px solid transparent;
  border-radius: 0.29rem;
  transition: all 0.2s;
  cursor: pointer;
}
.dropdown__list-item:last-child {
  margin-bottom: 0;
}
.dropdown__list-item:hover {
  border-color: #EBEBEB;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.tabs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  gap: 0.21rem;
  align-items: center;
}
.tabs__item {
  width: 1.64rem;
  height: 1.64rem;
  line-height: 1.67rem;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
  color: #C2C2C2;
}
.tabs__item_active {
  background-color: #fff;
  color: #3BCBB2;
}
.tabs__item_passed {
  color: #3BCBB2;
}
.tabs_vertical {
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.tabs_vertical::-webkit-scrollbar {
  /* Chrome, Safari and Opera */
  display: none;
}
.tabs_vertical.tabs_in-card {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
.tabs_vertical .tabs__list {
  flex-direction: column;
  padding: 0.71rem;
}
.tabs_in-card .tabs__item_active {
  background-color: #3BCBB2;
  color: #fff;
}

.tabs-card {
  background-color: #fff;
  border-top: 4px solid #3BCBB2;
  border-bottom: 4px solid #3BCBB2;
  position: relative;
  min-height: 200px;
}

.tab-pane_hidden {
  display: none;
}

.modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 42, 42, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.modal__container {
  background-color: #fff;
  padding: 1.43rem;
  border-radius: 0.86rem;
  position: relative;
}
.modal__close-btn {
  position: absolute;
  top: 1.43rem;
  right: 1.43rem;
  width: 1.43rem;
  height: 1.43rem;
  border-radius: 50%;
  background-color: #EBEBEB;
  border: 1px solid #2A2A2A;
}
.modal__close-btn::before, .modal__close-btn::after {
  content: "";
  position: absolute;
  display: block;
  height: 1rem;
  width: 0.07rem;
  background-color: #2A2A2A;
  top: 50%;
  left: 50%;
  transform-origin: center;
}
.modal__close-btn::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.modal__close-btn::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.modal__heading {
  font-weight: 500;
  font-size: 1.43rem;
  padding-right: 2rem;
  margin-bottom: 1.43rem;
}
.modal__message {
  margin-bottom: 2.64rem;
}
.modal__buttons-wrapper {
  display: flex;
  gap: 1.43rem;
  flex-wrap: wrap;
}
.modal_active {
  visibility: visible;
  opacity: 1;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio__input:checked + label {
  color: #2A2A2A;
}
.radio__input:checked + label::before {
  background-color: #3BCBB2;
  border-color: #C2C2C2;
  box-shadow: inset 0 0 0 3px #fff;
}
.radio__label {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  cursor: pointer;
  color: #C2C2C2;
}
.radio__label::before {
  content: "";
  display: block;
  width: 1.43rem;
  height: 1.43rem;
  border: 1px solid #EBEBEB;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.radio__label::after {
  transition: all 0.2s ease-in-out;
}

.side-menu {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  position: sticky;
  top: 0;
  padding-top: 4.29rem;
  padding-bottom: 4.29rem;
  padding-right: 2.29rem;
  transition: all 0.5s;
}
.side-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 5000px;
  background-color: #fff;
}
.side-menu__name-block {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1.21rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.71rem;
}
.side-menu__avatar {
  width: 4.21rem;
  height: 4.21rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #3BCBB2;
  border-radius: 50%;
  background-color: rgba(59, 203, 178, 0.15);
  color: #3BCBB2;
  font-weight: 500;
  font-size: 1.14rem;
  text-align: center;
  line-height: calc(4.21rem - 2px);
  flex-shrink: 0;
}
@media (max-width: 575px) {
  .side-menu__avatar {
    width: 3.5rem;
    height: 3.5rem;
    line-height: calc(3.5rem - 2px);
  }
}
.side-menu__name {
  font-weight: 500;
  line-height: 1.19;
}
.side-menu__menu-block {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1.21rem;
  padding-top: 1.21rem;
  margin-top: auto;
}
.side-menu__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.side-menu__menu-item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.86rem;
  line-height: 1.67;
}
.side-menu__menu-item_active {
  color: #3BCBB2;
}
.side-menu__menu-item:hover {
  color: #3BCBB2;
}
.side-menu__menu-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.side-menu__geo-date-time-block {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1.21rem;
  padding-top: 1.21rem;
  color: #C2C2C2;
  margin-top: auto;
}
.side-menu__log-out-btn {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.36rem;
  align-items: center;
  justify-content: start;
  border: none;
  color: #C2C2C2;
  font-size: 1.14rem;
  line-height: 1.43rem;
  background-color: transparent;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .side-menu {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: -100%;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
  }
  .side-menu__name-block, .side-menu__menu {
    align-items: center;
  }
  .side-menu__name-block, .side-menu__geo-date-time-block {
    text-align: center;
  }
}
.side-menu_open {
  left: 0;
  opacity: 1;
}

.burger {
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(to top, transparent 8px, #2A2A2A 8px, #2A2A2A 11px, transparent 11px);
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-in-out;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2A2A2A;
  transition: all 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger:focus {
  outline: none;
}
.burger_menu_open {
  background-image: none;
  z-index: 1000;
}
.burger_menu_open::before, .burger_menu_open::after {
  transform-origin: center;
  top: 50%;
}
.burger_menu_open::before {
  transform: translateY(-50%) rotate(45deg);
}
.burger_menu_open::after {
  transform: translateY(-50%) rotate(-45deg);
}